

.checkname{
    color: #fff;
    margin-top: 10px;
    margin-left: 10px;
}
.card-container5{
    .card{
        margin-left: 100px;
        margin-right: 100px;
        width: auto;
        height:200px;

        button{
            width: 100px;
            background: purple;
            color: #fff;
        }
    }
}

@import '~bootstrap/scss/bootstrap';