.Dashboard {
    color: #fff;
    margin-top: 10px;
    margin-left: 10px;
}

.Dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex: 1;
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 380px;
    min-width: 200px;
    margin: 0 10px;
}

.card1 {
    background-color: #d6ae47; 
}

.card2 {
    background-color: #bd3d2e; 
}

.card3 {
    background-color: #44a244; 
}


@import '~bootstrap/scss/bootstrap';